header {
  background-color:#006666;
  border-radius:0;
  border:0;
  padding:50px;
  padding-bottom:70px;
}

img{
	float: right;
	margin-top:-90px;
}

#nav-list{
  margin-top:10px;
}

#nav-list a{
  color:white;
  text-align: center;
}

#nav-list a:hover{
  background: #FF4500;
}

#nav-list a span{
  font-size: 1.8em;
}

#phone{
  margin-top:5px;
}

#phone a{ /*Broj telefona*/
  text-align:right;
  padding-bottom: 0;
}

#phone div{
  color:#FF4500;
  text-align:right;
  padding-right:15px;
}

.active{
  border: 1px solid white;
  background-color: orange;
}

.glyphicon:active {
  background-color: orange;
}