<header>
	<h1>Snježana Mijošević</h1>
	magistra edukacije matematike i informatike<br>
	mobitel: 099 877 1793<br>
	mail: snjeza.mijosevic@gmail.com
	<img height="100px" src="assets/images/profilna.jpg">
          <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/knjiznica" routerLinkActive="active">
                <span class="glyphicon glyphicon-book"></span><br class="hidden-xs"> Knjižnica
              </a>
            </li>
            <li>
               <a routerLink="/glazba" routerLinkActive="active">
                <span class="glyphicon glyphicon-headphones"></span><br class="hidden-xs"> Glazba
              </a>
            </li>
            <li> 
              <a routerLink="/omeni" routerLinkActive="active">
                <span class="glyphicon glyphicon-user"></span><br class="hidden-xs"> O meni
              </a>
              <a routerLink="/upisknjige" routerLinkActive="active">
                <span class="glyphicon glyphicon-book"></span><br class="hidden-xs"> Upis knjige
              </a>
            </li>
            <li id="phone" class="hidden-xs">
              <a href="tel:##########">
                <span>### ### ####</span>
              </a>
              <div>Nazovi</div>
            </li>
          </ul> <!--#nav-list -->
</header>