<header>
	<h1>Snježana Mijošević</h1>
	magistra edukacije matematike i informatike<br>
	mobitel: 099 877 1793<br>
	mail: snjeza.mijosevic@gmail.com
	<img height="100px" src="assets/images/profilna.jpg">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Gumb navigacija</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div id="collapsable-nav" class="collapse navbar-collapse">
          <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/knjiznica" routerLinkActive="active">
                <span class="glyphicon glyphicon-book"></span><br class="hidden-xs"> Knjižnica
              </a>
            </li>
            <li>
               <a routerLink="/glazba" routerLinkActive="active">
                <span class="glyphicon glyphicon-headphones"></span><br class="hidden-xs"> Glazba
              </a>
            </li>
            <li> 
              <a routerLink="/omeni" routerLinkActive="active">
                <span class="glyphicon glyphicon-user"></span><br class="hidden-xs"> O meni
              </a></li><li>
              <a routerLink="/upisknjige" routerLinkActive="active">
                <span class="glyphicon glyphicon-book"></span><br class="hidden-xs"> Upis knjige
              </a>
            </li> 
            
          </ul> <!--#nav-list -->
           </div><!--collapsable-nav -->
</header>