<footer>
	<div class="container">
      <div class="row">
        <section id="hours" class="col-sm-6"><h2>Vježbam programiranje:</h2>
          8:00-14:00<br>
          nastojim se prekvalificirati
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-6"><h2>Adresa:</h2>
          ##################<br>
          izostavljeno radi zaštite osobnih podataka
          <hr class="visible-xs">
        </section>

      </div><!--row-->
    </div><!--container-->
    <div class="text-center">&copy; Copyright Snježana Mijošević 2020</div>
</footer>