<footer>
	<div class="container">
      <div class="row">
        <section id="hours" class="col-sm-6"><h2>Sati:</h2>
          ##################<br>
          proba neki tekst
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-6"><h2>Adresa:</h2>
          ##################<br>
          proba neki tekst
          <hr class="visible-xs">
        </section>

      </div><!--row-->
    </div><!--container-->
    <div class="text-center">&copy; Copyright Snježana Mijošević 2020</div>
</footer>