<div id="main-content" class="container">
    <div class="row">
    <div id="zivotopis" class="col-xs-6">
    <h3>Ime i prezime:</h3><br>
    Snježana Mijošević<br>
    <br>
    <h3>Osobni podaci:</h3><br>
    Datum rođenja: 21.04.1989.<br>
    Mjesto rođenja: Koprivnica<br>
    Mjesto prebivališta: Osijek<br>
    <br>
    <h3>Obrazovanje:</h3><br>
    Osnovna škola: OŠ Frana Krste Frankopana, Osijek (1996.-2004.)<br>
    Srednja škola: III. gimnazija, Osijek (2004.-2008.)<br>
    Fakultet: Odjel za matematiku, sveučilišni nastavnički studij matematike i informatike (2008.-2014.)<br>
    <br>
    <h3>Sviranje instrumenata:</h3><br>
    Djembe bubanj (od lipnja 2007.)<br>
    Gitara (od lipnja 2011.)<br>
    12-žična gitara (od siječnja 2012.)<br>
    </div>
    <div id="slika" class="col-xs-6">
      <img src="../../assets/images/profilna.jpg">
    </div>
  </div>
  </div><!--main-content -->