input{
	border-bottom:1px solid white;
	padding-top: 55px;
	margin-bottom:30px;

}

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

button{
	background-color: #006666;
}
mat-error{
	color: #006666;
}
mat-option{
	background-color:orange;
}
mat-option:nth-child(0){
	padding-top: -80px;
}