<div fxFlex fxFlexOffset="20px" class="form-size">
	<h3>Upis nove knjige</h3>
	<form novalidate [formGroup]="knjigaForm" #fform="ngForm" (ngSubmit)="onSubmit()">
		<p>
			<mat-form-field class="half-width">
				<input matInput formControlName="autor" placeholder="Autor" type="text" required>
				<mat-error *ngIf="formErrors.autor">{{formErrors.autor}}</mat-error>
			</mat-form-field>
			<mat-form-field class="half-width">
				<input matInput formControlName="imeknjige" placeholder="Ime knjige" type="text" required>
				<mat-error *ngIf="formErrors.imeknjige">{{formErrors.imeknjige}}</mat-error>
			</mat-form-field>
		</p>
		<p>
			<mat-form-field class="half-width">
				<input matInput formControlName="izdavac" placeholder="Izdavač" type="text" required>
				<mat-error *ngIf="formErrors.izdavac">{{formErrors.izdavac}}</mat-error>
			</mat-form-field>
			<mat-form-field class="half-width">
				<input matInput formControlName="godinaizdanja" placeholder="Godina izdanja" type="text" pattern="[0-9]*" required>
				<mat-error *ngIf="formErrors.godinaizdanja">{{formErrors.godinaizdanja}}</mat-error>
			</mat-form-field>
		</p>
		<p>
			<mat-form-field class="half-width">
				<input matInput formControlName="slika" placeholder="Link za sliku" type="text" required>
				<mat-error *ngIf="formErrors.slika">{{formErrors.slika}}</mat-error>
			</mat-form-field>
			<mat-select placeholder="Tip knjige" formControlName="tipKnjige">
            <mat-option *ngFor="let tip of tipKnjige" [value]="tip">
              {{ tip }}
            </mat-option>
          </mat-select>
		</p>
		<button type="submit" mat-button [disabled]="knjigaForm.invalid">Unesi</button>
		<mat-list *ngIf="knjigaForm.valid">
    <mat-list-item> <br><br><br><br><br>
      {{knjigaForm.get('autor').value}} <br>
        {{knjigaForm.get('imeknjige').value}} <br>
        {{knjigaForm.get('izdavac').value}} <br>
        {{knjigaForm.get('godinaizdanja').value}} <br>
        {{knjigaForm.get('slika').value}} <br>
      	{{knjigaForm.get('tipKnjige').value}} <br>
    </mat-list-item>
    </mat-list>
	</form>
</div>
